Q1.**Explain the key features of Python that make it a popular choice for programming**.

Ans.Python is a popular programming language for several key reasons:

1. **Readability and Simplicity**: Python has a clear and straightforward syntax, making it easy to read and write. This simplicity allows beginners to learn quickly and helps experienced developers maintain code more effectively.

2. **Versatility**: Python is a multi-paradigm language, supporting procedural, object-oriented, and functional programming styles. This flexibility allows developers to choose the best approach for their projects.

3. **Rich Ecosystem and Libraries**: Python boasts a vast collection of libraries and frameworks (like NumPy, pandas, Django, and Flask) that simplify complex tasks, from data analysis to web development.

4. **Community Support**: Python has a large and active community, providing a wealth of resources, tutorials, and forums for support. This makes it easier for developers to find help and share knowledge.

5. **Cross-Platform Compatibility**: Python runs on various operating systems, including Windows, macOS, and Linux. This makes it a great choice for developers working in different environments.

6. **Strong Support for Data Science and Machine Learning**: With libraries like TensorFlow, scikit-learn, and Matplotlib, Python is a leading language for data analysis, machine learning, and artificial intelligence.

7. **Integration Capabilities**: Python easily integrates with other languages and technologies, making it a good choice for projects that require interoperability.

8. **Extensive Documentation**: Python has comprehensive documentation that covers its features, libraries, and best practices, aiding both new and experienced programmers.

These features contribute to Python's popularity across various fields, including web development, data science, automation, and more.

Q2. **Describe the role of predefined keywords in Python and provide examples of how they are used in a program.**

Ans.In Python, predefined keywords are reserved words that have special meanings and cannot be used as identifiers (names for variables, functions, classes, etc.). These keywords define the syntax and structure of the Python language.

Hereâ€™s a list of some commonly used Python keywords:

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

Role of Predefined Keywords:

1.**Control Flow**: Keywords like if, else, elif, for, and while are used to control the flow of the program.

2.**Data Definition**: Keywords such as def, class, and import help in defining functions, classes, and modules.

3.**Boolean Values**: Keywords True, False, and None represent fundamental data values.

4.**Exception Handling**: Keywords like try, except, finally, and raise are used to manage exceptions.

In [1]:
#control flow
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

In [2]:
#function defination
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))

Hello, Alice!

In [3]:
#class function
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        return "Woof!"

my_dog = Dog("Buddy")
print(my_dog.bark())

Woof!

In [4]:
#important module
import math

print(math.sqrt(16))  # Outputs: 4.0

4.0

In [5]:
#exception handling
try:
    result = 10 / 0
except ZeroDivisionError:
    print("You can't divide by zero!")
finally:
    print("Execution complete.")

You can't divide by zero!
Execution complete.

Q3. **Compare and contrast mutable and immutable objects in Python with examples**
Ans.In Python, objects can be categorized into two main types: mutable and immutable. The distinction between these types affects how you can manipulate the objects and how they behave in your code.

Mutable Objects
Mutable objects are those that can be changed after their creation. This means you can modify their content or state without changing their identity.

Examples of Mutable Objects:.

In [6]:
#list
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)     # Outputs: [1, 2, 3, 4]

[1, 2, 3, 4]

In [7]:
#dictonaries
my_dict = {'name': 'Alice', 'age': 25}
my_dict['age'] = 26  # Modifies the original dictionary
print(my_dict)       # Outputs: {'name': 'Alice', 'age': 26}

{'name': 'Alice', 'age': 26}

In [9]:
#sets
my_set = {1, 2, 3}
my_set.add(4)  # Modifies the original set
print(my_set)  # Outputs: {1, 2, 3, 4}

{1, 2, 3, 4}

**Immutable Objects**

Immutable objects cannot be changed after their creation. Any modification creates a new object rather than changing the original.

In [10]:
#strings
my_string = "Hello"
new_string = my_string.replace("H", "J")  # Creates a new string
print(my_string)  # Outputs: "Hello"
print(new_string)  # Outputs: "Jello"

Hello
Jello

In [11]:
#tuples
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4,)  # Creates a new tuple
print(my_tuple)  # Outputs: (1, 2, 3)
print(new_tuple)  # Outputs: (1, 2, 3, 4)

(1, 2, 3)
(1, 2, 3, 4)

In [12]:
#frozensets
my_frozenset = frozenset([1, 2, 3])
# Cannot modify frozenset; it will raise an error
# my_frozenset.add(4)  # This line would raise an AttributeError
print(my_frozenset)  # Outputs: frozenset({1, 2, 3})

frozenset({1, 2, 3})

Q4. **Discuss the different types of operators in Python and provide examples of how they are used.**

Ans.In Python, operators are special symbols that perform operations on variables and values. They can be categorized into several types based on their functionality. Hereâ€™s an overview of the different types of operators in Python along with examples.

1. **Arithmetic Operators**
These operators perform basic mathematical operations.

In [22]:

#Addition (+)

a = 10
b = 5
c = (a+b)
print (c)

15

In [23]:
#subtraction(-)
a=10
b=5
c = (a-b)
print (c)

5

In [26]:
#multiplication(*)
a=10
b=5
c=(a*b)
print(c)

50

In [29]:
#division(/)
a=10
b=5
c=(a/b)
print(c)

2.0

In [30]:
#floor division(//)
a=10
b=5
c=(a//b)
print(c)

2

In [31]:
#modulus(%)
a=10
b=5
c=(a%b)
print(c)

0

In [32]:
#exponential(**)
a=10
b=5
c=a**b
print(c)

100000

2. **Comparison Operators**

These operators compare two values and return a Boolean result (True or False).

In [35]:
#equal to(==):
result = (a == b)   # result is False

In [ ]:
#Not equal to (!=):
result = (a != b)  # result is True

In [ ]:
#Greater than (>):
result = (a > b)  # result is True

In [ ]:
#Less than (<):
result = (a < b)  # result is False

In [ ]:
#Greater than or equal to (>=):
result = (a >= b)  # result is True

In [ ]:
#Less than or equal to (<=):

result = (a <= b)  # result is False

3.**Logical Operators**

These operators are used to combine conditional statements.

In [ ]:
#Logical AND (and):
result = (a > 0 and b > 0)  # result is True

In [ ]:
#Logical OR (or):
result = (a > 0 or b < 0)  # result is True

In [33]:
#Logical NOT (not):
result = not (a < 0)  # result is True

4. **Bitwise Operators**

These operators perform operations on bits.

In [ ]:
#Bitwise AND (&):
result = a & b

In [ ]:
#Bitwise OR (|):
result = a | b

In [ ]:
#Bitwise XOR (^):
result = a ^ b

In [ ]:
#Bitwise NOT (~):
result = ~a

In [ ]:
#Left Shift (<<):
result = a << 2

In [ ]:
#Right Shift (>>):
result = a >> 2

5. **Assignment Operators**

These operators assign values to variables.

In [ ]:
#Simple Assignment (=):
c = a

In [ ]:
#Add and Assign (+=):
c += b

In [ ]:
#Subtract and Assign (-=):
c -= b

In [ ]:
#Multiply and Assign (*=):
c *= b

In [ ]:
#Divide and Assign (/=):
c /= b

6. **Identity Operators**

These operators are used to check if two variables point to the same object in memory.

In [ ]:
#Is (is)
result = (a is b)

In [ ]:
#Is Not (is not):
result = (a is not b)

7. **Membership Operators**

These operators are used to test if a value is in a sequence (like a list, tuple, or string).

In [ ]:
#In (in):
my_list = [1, 2, 3]
result = (2 in my_list)

In [ ]:
#Not In (not in)
result = (4 not in my_list)

Q5. **Explain the concept of type casting in Python with examples**.

Ans. Type casting in Python refers to the conversion of one data type into another. This is often necessary when you need to perform operations that require different types or when you want to ensure that data is in the desired format. Python provides built-in functions for type casting, making it straightforward to convert between types.

**Types of Casting**

1.**Implicit Casting** (Automatic Type Conversion): Python automatically converts one data type to another without explicit instructions. This usually happens when a smaller type is converted to a larger type.

In [36]:
a = 10      # Integer
b = 3.14    # Float
result = a + b  # a is implicitly converted to float
print(result)    # Outputs: 13.14
print(type(result))  # Outputs: <class 'float'>

13.14
<class 'float'>

**Explicit Casting** (Type Conversion): This involves using built-in functions to convert data from one type to another. Common functions for explicit casting include int(), float(), str(), and list().

In [37]:
#convert to integer
x = 3.5
y = int(x)  # Converts float to integer
print(y)    # Outputs: 3

3

In [38]:
#convert to float
x = "5.67"
y = float(x)  # Converts string to float
print(y)      # Outputs: 5.67

5.67

In [39]:
#convert to string
x = 100
y = str(x)  # Converts integer to string
print(y)    # Outputs: '100'

100

In [40]:
#converting to list
x = "hello"
y = list(x)  # Converts string to list of characters
print(y)     # Outputs: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

Q6. **How do conditional statents work in Python? Illustrate with examples.**

Ans.Conditional statements in Python allow you to execute certain blocks of code based on whether a specified condition evaluates to True or False. The primary conditional statements in Python are if, elif, and else.

In [ ]:
#basic syntax
if condition:
    # code to execute if condition is True
elif another_condition:
    # code to execute if the first condition is False and this condition is True
else:
    # code to execute if all previous conditions are False

In [1]:
#simple IF Statment
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

In [2]:
#simple IF-ELSE Statment
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult yet.")

You are not an adult yet.

In [3]:
#IF-ELIF-ELSE Statment
score = 75

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D or F")

Grade: C

In [4]:
#Nested conditional statment
num = 10

if num > 0:
    print("Positive number")
    if num % 2 == 0:
        print("Even number")
else:
    print("Negative number or zero")

Positive number
Even number

Q7. **Describe the different types of loops in Python and their use cases with examples.**

Ans.In Python, loops are used to execute a block of code repeatedly based on certain conditions. The two primary types of loops are **for loops** and **while loops**. Each type has its specific use cases.

1. **For Loop**
The for loop is used to iterate over a sequence (like a list, tuple, string, or range). It is ideal when you know the number of iterations in advance.

In [5]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

2. **While Loop**
The while loop continues to execute as long as a specified condition is True. It's suitable when the number of iterations is not known beforehand and depends on dynamic conditions.

In [6]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

3. **Nested Loops**
You can nest loops within each other, which is useful for dealing with multi-dimensional data structures like lists of lists.

In [7]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1